@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: linear-gradient(138.03deg, #5BC0B4 12.21%, #7B4284 92.36%);
  color: white;
}

.tab {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  align-items: center;
}
.tab__title {
  font-size: 70px;
  font-weight: 600;
}
.tab__btn {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.tab__button {
  border: 1px black solid;
  margin: 15px 0;
  padding: 15px 40px;
  border-radius: 15px;
}
.tab__button.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
}
.tab__content {
  height: 200px;
  text-align: center;
  border-radius: 15px;
  width: 300px;
  border: 1px black solid;
}
.tab__text {
  font-size: 35px;
  display: none;
}
.tab__text.active {
  display: block;
}
.tab__text--btn {
  display: inline-block;
  margin-top: 5px;
  border-radius: 15px;
  font-size: 15px;
  border: 1px black solid;
  padding: 15px 40px;
}
.tab__text--btn.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
}
.tab__text2 {
  display: none;
  padding: 10px 0;
  font-size: 35px;
}
.tab__text2 button {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: 35px;
  border: 1px black solid;
}
.tab__text2.active {
  display: block;
}